:root {
    --bg-color1:  rgba(0, 5, 12, 0.91);
    --bg-color2: rgba(0, 5, 12, 0.91);
    --bg-color3: #00171F;
    --text-color1: #FFF;
    --text-color2: #000;
    /* --accent1: #a0ced9;
    --accent2: #022F40;
    --accent3: #adf7b6;
    --accent4: #386641; */
    --accent1: #ffffff;
    --accent2: rgb(2, 47, 64);
    --accent3: #e1f9fb;
    --accent4: #022f40;
  }
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*background-color: var(--bg-color1);*/
    overflow-x: hidden;
    color: var(--text-color1);
}

h1{
    font-size: 22px;
    margin: 5px;
}

p {
    margin: 10px 50px;
}


img {
    margin: 15px;
    border-radius: 14px;
    display: block;

    height: 100%;
    width: auto;
}



.helptext {
    display: none;
}

.species-detail {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.img-caption {
    font-size: smaller;
    color: #ffffff;
    text-decoration: none;
}
.img-caption a{
    color: #00a0e0;
    text-decoration: none;
}

/*---------------------NAVBAR---------------------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color2);
    padding: 10px;
    color: var(--text-color1);
    border-bottom: solid 1px var(--bg-color2);
}

.navbar div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar img {
    padding: 10px;
    margin-left: 25px;
    margin-right: 10px;
}

.navbar a {
    color: var(--text-color1);
}







/*---------------------ROZMIESZCZENIE---------------------------*/
.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.baner {
    color: var(--text-color2);
    border-radius: 11px;
    width: 20%;
    margin: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.wider {
    width: 100%;
    margin: 0;
    padding: 20px;
}


.wide {
    width: 65%;
    margin: 20px;
    padding: 20px;
    padding-bottom: 50px;
}
.narrow {
    width: 45%;
    margin: 20px;
    padding: 10px;
}


.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    width: 100%;
}

.narrower {
    width: 300px;
    margin: 5px;
    padding: 5px;
}
.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.vertical-left{
    align-items: flex-start;
}

.up {
    justify-content: start;
}


.big-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.small-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
}

.medium-item {
    display: block;
    height: 256px;
    width: auto;
}
.small-item {
    display: block;
    width: 124px;
    height: auto;
}

.gaps {
    gap: 1rem;
}






/*------------------------KOLORY I PODŚWIETLENIA-------------------------------*/
.light4 {
    background-color: var(--bg-color1);
    color: var(--text-color1);
}

.light1 {
    background-color: var(--bg-color1);
    color: var(--text-color1);
}

.light3 {
    background-color: var(--accent3);
}

.shadow {
    -webkit-box-shadow: 0px 14px 35px -3px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 14px 35px -3px rgb(0, 12, 60);
    box-shadow: 0px 14px 35px -3px rgba(2, 47, 64, 0.86);
}
.light2:hover {
    background-color: var(--accent2);
    color: var(--text-color1);
    transition-duration: 0.5s;
}
.light4:hover {
    background-color: var(--accent2);
    color: var(--text-color1);
    transition-duration: 0.5s;
}

.nice-border {
    border-radius: 11px;
    border: solid rgba(255, 255, 255, 0.34) 1px;
    padding: 20px;
}


/*-----------------------------------PRZYCISKI-------------------------------------*/
.button {
    color: var(--text-color1);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 11px;
    font-size: 20px;
}

.basic-button {
    background-color: var(--bg-color2);
    color: var(--text-color1);
    border: solid 1px rgba(2, 47, 64, 0.76);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.basic-button:hover {
    background-color: var(--accent4);
    color: white;
    transition-duration: 0.3s;
}




/*---------------------------------TABELA-------------------------------------*/
table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    color: #000;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 0 20px rgb(0, 12, 60);
}

table thead tr {
    background-color: #022f40;
    color: var(--text-color1);
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid var(--bg-color2);
}


table tbody tr:last-of-type {
    border-bottom: 2px solid var(--bg-color2);
}

table tbody tr:hover {
    background-color: var(--accent1);
    color: var(--text-color2);
    transition-duration: 0.3s;
}

table a {
    color: var(--accent2);
    text-decoration: none;
}

table a:hover {
    color: var(--accent2);
    text-decoration: underline;
}




/*------------------------------------FORMULARZE----------------------------------------*/
.species-form {
    background-color: var(--accent1);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 10px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.species-form .form-check {
    display: flex;
    align-items: center;
    margin: 20px;
}
.species-form .form-group {
    margin: 15px;
}

.species-form .form-check-input {
    margin-right: 10px;
}

.species-form .form-check label {
    margin: 0;
}

.species-form label {
    display: block;
    margin: 5px;
    font-weight: bold;
    color: var(--bg-color2);
}

.species-form input[type="text"],
.species-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--bg-color2);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

.species-form input[type="text"]::placeholder
{
    color: var(--accent2);
    opacity: 0.6;
}

.species-form .form-check-input {
    margin-right: 10px;
}




/*-------------------MESSAGES------------------------------ */

.message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}



/*----------VIDEO-----------------------------*/
.video-background {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            background-size: cover;
        }



        main {
            position: relative;
            z-index: 1;
        }

        .content-wrapper {
            position: relative;
            z-index: 1;
            color: white;
            text-align: center;
            padding: 50px;
        }


        /*--------------footer-------------------*/
footer {
    background-color: rgb(0, 20, 25);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


footer a {
    color: #88b1c3;
    text-decoration: none;
    margin: 0 10px;
}

.narrower p {
    margin: 0;
}
