{% extends 'base.html' %}

{% block title %}
    Also | O projekcie
{% endblock %}

{% block content %}
            <div class="content">
                
                <div class="vertical-container">
                    <div class="baner light1 shadow wide">
                        <h3>O projekcie</h3>

                        <p>Gra symulacyjna ALSO (skrót od „Artificial Life – Simulated Organisms”) to przeglądarkowa gra komputerowa, w której gracze mogą projektować gatunki i obserwować zmiany populacji wirtualnych organizmów. Gra została stworzona z użyciem silnika Unity Engine.</p>
                        <p>ALSOweb to powiązana z ninejszą grą platforma edukacyjna, która pozwala użytkownikom analizować dane z gry oraz dzielić się stworzonymi gatunkami.</p>

                        <p>Serwis ten stanowi integralną część pracy licencjackiej (kierunek: elektroniczne przetwarzanie informacji), przygotowanej pod kierunkiem dr. Krzysztofa Pomorskiego na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>
                        <p>Autorem niniejszego serwisu jest Zofia Karpała </p>



                    </div>
                </div>
            </div>


                
            <footer class="vertical-container">
                <a href="https://www.flaticon.com/free-icons/play-button" title="play button icons">Play button icons created by WR Graphic Garage - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/start" title="start icons">Start icons created by Laura Reen - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/uninstall" title="uninstall icons">Uninstall icons created by Graphics Plazza - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/play-button" title="play button icons">Play button icons created by Roundicons - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/close" title="close icons">Close icons created by Roundicons - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/refresh" title="refresh icons">Refresh icons created by Roundicons - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/keyboard" title="keyboard icons">Keyboard icons created by deemakdaksina - Flaticon</a >
                <a href="https://www.flaticon.com/free-icons/inheritance" title="inheritance icons">Inheritance icons created by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/diversity" title="diversity icons">Diversity icons created by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/teddy-bear" title="teddy bear icons">Teddy bear icons created by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/fight" title="fight icons">Fight icons created by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/select" title="select icons">Select icons created by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/knowledge" title="knowledge icons">Knowledge icons created by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/puzzle-piece" title="puzzle piece icons">Puzzle piece icons created by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/prize" title="prize icons">Prize icons created by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/example" title="example icons">Example icons created by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/gene" title="gene icons">Gene icons created by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/space" title="space icons">Space icons created by Pierre-Louis - Flaticon</a>
            </footer>

        {% endblock %}

