{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ALSO{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'also/css/style.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <video autoplay muted loop class="video-background">
        <source src="{% static 'also/vid/background-vid.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <header>
        {% include '_nav.html' %}
    </header>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <main>
        {% block content %}

        {% endblock %}
    </main>
    {% block javascripts %}
    {% endblock %}


</body>
</html>
