{% extends 'base.html' %}

{% block title %}
    Also | Szczegóły gatunku
{% endblock %}


    {% block content %}
        <div class="vertical-container">
    <div class="baner light1 shadow wide">
        <h1 class="center-text">{{ species.species_name }}</h1>
        <div class="horizontal-container wider">
            <div class="vertical-container vertical-left" >

                <p>Opublikowano: {{ species.pub_date }}</p>
                <p><strong>Genom:</strong> {{ species.species_genome }}</p>
                <p><strong>Opis:</strong> {{ species.species_description }}</p>
                <p><strong>Poruszanie:</strong> {{ species.can_move|yesno:"Tak,Nie" }}</p>
                <p><strong>Obrona:</strong> {{ species.can_defend|yesno:"Tak,Nie" }}</p>
                <p><strong>Autor:</strong> {{ species.user }}</p>
                <p><strong>Głosy:</strong> {{ species.score }}</p>
            </div>
        <div>
                <p>
                    {% if species.image %}
                        <img class="medium-item" src="{{ species.image.url }}" alt="{{ species.species_name }}" width="300">
                    {% else %}
                        No image available
                    {% endif %}
                </p>
        </div>
        </div>
        <div class="horizontal-container">
            <a class="button light4 nice-border" href="{% url 'species_list' %}" >Powrót do listy gatunków</a>
            <p></p>
            {% if user.is_authenticated %}
                <form action="{% url 'vote' species.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button light4 nice-border">Głosuj</button>
                </form>
            {% else %}
                <a class="button light4 nice-border" href="{% url 'login' %}">Zaloguj się, aby zagłosować</a>
            {% endif %}



        </div>

    </div>
        </div>
    {% endblock %}
