{% extends 'base.html' %}

{% block title %}
    Also | Graj
{% endblock %}

{% block content %}
            <div class="content">
                <div class="horizontal-container">
                    <div class="baner light1 shadow">
                        <h2>Graj online</h2>
                        <a class="button light4 nice-border" href="http://jawor.wzks.uj.edu.pl/~21_karpala/also/">Uruchom grę</a>
                    </div>

                </div>


            </div>
        
{% endblock %}