{% extends 'base.html' %}

{% block content %}
<div class="wider vertical-container">
    <h1>Witaj, {{ user.username }}!</h1>
    <div class="horizontal-container wide">
        <div class="vertical-container vertical-left up baner light1 shadow wide">



            <h2>Twoje gatunki </h2>
            <div class="big-container">
                {% if added_species %}
                    {% for species in added_species %}
                        <a href="{% url 'detail' species.id %}" class="button basic-button nice-border">{{ species.species_name }}</a>
                    {% endfor %}
                {% else %}
                    <p>Jeszcze nie dodałeś żadnych gatunków.</p>
                {% endif %}
            </div>
        </div>
        <div class="vertical-container vertical-left up baner light1 shadow wide">


            <h2>Twoje głosy </h2>
            <div class="big-container">
                {% if voted_species %}
                    {% for species in voted_species %}
                        <a href="{% url 'detail' species.id %}" class="button basic-button nice-border">{{ species.species_name }}</a>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Jeszcze nie zagłosowałeś na żaden gatunek.</p>
                {% endif %}
            </div>
        </div>
    </div>
        <div class="big-container gaps">
            <a class="button light4 nice-border" href="{% url 'add_species' %}">Dodaj nowy gatunek</a>
            <a class="button light4 nice-border" href="{% url 'species_list' %}">Przeglądaj wszystkie gatunki</a>
            <a class="button light4 nice-border" href="{% url 'upload_sim_data' %}">Analizuj wyniki symulacji</a>
        </div>
</div>
{% endblock %}